
$background-body-color: #000000;

$white: #fff;
$black: #000000;
$generalColor: #F8B218;
$modalCloseBtn: #C1283C;


.z-index {
   &-1 {
      z-index: 1;
   }
}

.pos{
   &-relative{
      position: relative;
   }

   &-absolute{
      position: absolute;
   }
}

.cursor-pointer{
   cursor: pointer;
}



.margin-top{
   &-75{
     margin-top: 75px;
   }
 
   &-150{
     margin-top: 150px;
   }
 }


.text-general {
   color: $generalColor !important;
 }

 .column-gap{
   &-10{
      column-gap: 10px;
   }
 }